{% extends 'base.html' %}

{% block content %}
<form method="post">
    {{ form.hidden_tag() }}

    {% for error in form.type.errors %}<div class="w3-text-red">{{ error }}</div>{% endfor %}
    {{ form.type(class_="no-bullets") }}

    {{ form.location.label }}
    {% for error in form.location.errors %}<div class="w3-text-red">{{ error }}</div>{% endfor %}
    {{ form.location }}
    {% for error in form.site.errors %}<div class="w3-text-red">{{ error }}</div>{% endfor %}
    {{ form.site(class_="no-bullets") }}

    {{ form.title.label }}
    {% for error in form.title.errors %}<div class="w3-text-red">{{ error }}</div>{% endfor %}
    {{ form.title }}

    {{ form.computer_number.label }}
    {% for error in form.computer_number.errors %}<div class="w3-text-red">{{ error }}</div>{% endfor %}
    {{ form.computer_number }}

    {{ form.description.label }}
    {{ form.description }}

    {{ form.submit() }}
</form>
{% endblock %}
