{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
{{ top_link('issue.create', _('Report an issue or make a request')) }}
{% endif %}

<ul class="w3-ul w3-card-4 w3-margin-bottom">
    {% for issue in issue_page.items %}
    {% if issue_id is defined and issue.id == issue_id|int %}
    <li class="w3-pale-green">
        {% else %}
    <li>
        {% endif %}
        <a class="link" href="{{ url_for('issue.update', id=issue.id) }}">
            <div class="w3-xlarge">
                {% if issue.is_closed() %}
                <i class="fas fa-check-circle"></i>
                {% elif issue.is_processing() %}
                <i class="fas fa-user-circle"></i>
                {% else %}
                <i class="fas fa-exclamation-circle"></i>
                {% endif %}
                {{ issue.title }}
            </div>
        </a>

        <div class="w3-large">
            {{ _('At %(site)s - %(location)s', site=issue.site, location=issue.location) }}
        </div>

        <div class="w3-small w3-text-grey">
            {{ _('Computer issue') if issue.type.is_computer() else _('Technical issue') }}
        </div>

        <div class="w3-small w3-text-grey">
            {{ _('By %(username)s on %(datetime)s', username=issue.username if issue.username else issue.user.username, datetime=issue.created|local_datetime) }}
        </div>

        {% if issue.is_closed() %}
        <div class="w3-small w3-text-grey">{{ _('Closed on %(datetime)s', datetime=issue.closed|local_datetime) }}</div>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if issue_page.pages > 1 %}
<div class="w3-bar w3-border w3-round">
    {% if issue_page.has_prev %}
    <a href="{{ url_for('issue.index', page=issue_page.prev_num) }}" class="w3-btn w3-ripple w3-blue"><i
            class="fas fa-chevron-left"></i> {{ _('Previous') }}</a>
    {% else %}
    <a class="w3-button w3-text-gray w3-hover-text-gray w3-hover-white"><i class="fas fa-chevron-left"></i>
        {{ _('Previous') }}</a>
    {% endif %}


    {% if issue_page.has_next %}
    <a href="{{ url_for('issue.index', page=issue_page.next_num) }}"
        class="w3-btn w3-ripple w3-blue w3-right">{{ _('Next') }} <i class="fas fa-chevron-right"></i></a>
    {% else %}
    <a class="w3-button w3-text-gray w3-hover-text-gray w3-hover-white w3-right">{{ _('Next') }} <i
            class="fas fa-chevron-right"></i></a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
