{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="w3-margin-bottom">
    <a class="link" href="{{ url_for('issue.create') }}">{{ _('Make a request or report an issue') }}</a>
</div>
{% endif %}

<ul class="w3-ul w3-card-4 w3-margin-bottom">
    {% for issue in issues %}
    {% if id is defined and issue.id == id %}
    <li class="w3-pale-green">
        {% else %}
    <li>
        {% endif %}
        <a class="link" href="{{ url_for('issue.update', id=issue.id) }}">
            <div class="w3-xlarge">
                {% if issue.is_closed() %}
                <i class="fas fa-check-circle"></i>
                {% elif issue.is_processing() %}
                <i class="fas fa-user-circle"></i>
                {% else %}
                <i class="fas fa-exclamation-circle"></i>
                {% endif %}
                {{ issue.title }}
            </div>
        </a>

        <div class="w3-large">
            {{ _('At %(site)s - %(location)s', site=issue.site, location=issue.location) }}
        </div>

        <div class="w3-small w3-text-grey">
            {{ _('Computer issue') if issue.type.is_computer() else _('Technical issue') }}
        </div>

        <div class="w3-small w3-text-grey">{{ _('By %(username)s on %(datetime)s',
    username=issue.username if issue.username else issue.user.username,
    datetime=issue.created|local_datetime,
    ) }}
        </div>

        {% if issue.is_closed() %}
        <div class="w3-small w3-text-grey">{{ _('Closed on %(datetime)s', datetime=issue.closed|local_datetime) }}
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
