{% extends 'base.html' %}

{% block content %}
<div class="w3-container">
    {% if current_user.is_authenticated %}
    <p><a class="link" href="{{ url_for('issue.create') }}">{{ _('Make a request or report an issue') }}</a></p>
    {% endif %}

    <ul class="w3-ul w3-card-4 w3-margin-bottom">
        {% for issue in issues %}
        <li>
            {% if issue.can_user_update_issue() %}
            <a class="link" href="{{ url_for('issue.update', id=issue.id) }}">
                {% endif %}
                <h2>
                    {% if issue.closed %}
                    <i class="fas fa-check-circle"></i>
                    {% elif issue.processing %}
                    <i class="fas fa-user-circle"></i>
                    {% else %}
                    <i class="fas fa-exclamation-circle"></i>
                    {% endif %}
                    {{ issue.title }}
                </h2>
                {% if issue.can_user_update_issue() %}
            </a>
            {% endif %}

            <div class="w3-large">
                {{ _('At %(site)s - %(location)s', site=issue.site, location=issue.location) }}
            </div>

            <div class="w3-small w3-text-grey">
                {{ _('Computer issue') if issue.type.name == "computer" else _('Technical issue') }}
            </div>

            <div class="w3-small w3-text-grey">{{ _('By %(username)s on %(datetime)s',
    username=issue.username,
    datetime=issue.created|local_datetime,
    ) }}
            </div>

            {% if issue.closed %}
            <div class="w3-small w3-text-grey">{{ _('Closed on %(datetime)s', datetime=issue.closed|local_datetime) }}
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
