{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ issue.title }}{% endblock %}</h1>
{% endblock %}

{% block content %}

{% if issue.closed %}
<div>{{ _('Closed on %(datetime)s', datetime=issue.closed|local_datetime) }}</div>
{% endif %}

<div>{{ _('%(issue)s submitted by %(username)s on %(datetime)s',
    issue=_('Computer issue') if issue.type.name == "computer" else _('Technical issue'),
    username=issue.username,
    datetime=issue.created|local_datetime
    ) }}
</div>

<div>{{ _('Location: %(site)s - %(location)s', site=issue.site, location=issue.location) }}</div>

{% if issue.computer_number %}
<div>{{ _('Equipment: %(computer_number)s', computer_number=issue.computer_number) }}</div>
{% endif %}

{% if issue.description %}
<div>{{ issue.description }}</div>
{% endif %}
<hr>

{% for message in messages %}
<div>{{ _('Message from %(username)s on %(datetime)s',
    username=message.username if message.username else message.user.username,
    datetime=message.created|local_datetime
    ) }}
</div>

{% if message.content %}
<div>{{ message.content }}</div>
{% endif %}

<hr>
{% endfor %}

<form method="post">
    {{ form.hidden_tag() }}

    {{ form.content.label }}
    {{ form.content }}

    {{ form.submit() }}
</form>
{% endblock %}
