@media only screen and (max-width: 600px) {
    /* mobile */
    body {
        font-size: 19px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 601px) {
    /* tablet */
    body {
        font-size: 17px;
    }
}

aZZZ { /* TODO: remove */
    color: #2196F3; /* w3-blue */
    text-decoration: none;
}

aZZZ:hover { /* TODO: remove */
    color: gray;
}

#sidebar {
    display: none;
    max-height: 120px;
    max-width: 400px;
    width: 80%;
    z-index: 4;
}
