{% extends 'base.html' %}

{% block content %}
<form method="post">
    {{ form.hidden_tag() }}
    {{ m.input_field(form.username) }}
    {{ m.input_field(form.password) }}

    {% if id is not defined or id != 1 %}
    {{ m.checkbox_field(form.generic) }}
    <div class="w3-panel w3-pale-yellow w3-leftbar w3-border-yellow">
        <p>
            {{ _('The password of a generic account uniquely identifies this account regardless of the username.') }}
            {{ _('The username is then only informational.') }}
            {{ _('It is the username entered when the user signs in that will actually be used.') }}
        </p>
    </div>

    {{ m.select_field(form.role) }}
    <div class="w3-panel w3-pale-yellow w3-leftbar w3-border-yellow">
        <p>
            {{ _('A level 1 (L1) support technician can process requests et change their type.') }}
            <br>
            {{ _('A level 2 (L2) support technician can also close and download requests.') }}
        </p>
    </div>
    {% endif %}

    {% if id is defined and id != 1 %}
    {{ m.checkbox_field(form.disabled) }}
    {% endif %}

    <p class="w3-center">{{ form.submit(class_="w3-btn w3-ripple w3-blue") }}</p>
</form>

{% if id is defined and id != 1 and not has_issues %}{{ m.delete_link('user.delete', _('Delete User')) }}{% endif %}
{% endblock %}
