{% extends 'base.html' %}

{% block content %}
<div class="w3-container">
    <form class="w3-panel" method="post">
        {{ form.hidden_tag() }}

        {{ form.username.label }}
        {{ form.username(class_="w3-input w3-border w3-margin-bottom") }}
        {% for error in form.username.errors %}<div style="color: red;">{{ error }}</div>{% endfor %}

        {{ form.password.label }}
        {{ form.password(class_="w3-input w3-border w3-margin-bottom") }}
        {% for error in form.password.errors %}<div style="color: red;">{{ error }}</div>{% endfor %}

        {{ form.submit(class_="w3-button w3-green w3-section w3-padding") }}
    </form>
</div>
{% endblock %}
