{% extends 'base.html' %}

{% block content %}
<form method="post">
    {{ form.hidden_tag() }}

    {{ form.username.label }}
    {% for error in form.username.errors %}<div class="w3-text-red">{{ error }}</div>{% endfor %}
    {{ form.username(class_="w3-input w3-border w3-hover-border-blue w3-margin-bottom") }}

    {{ form.password.label }}
    {% for error in form.password.errors %}<div class="w3-text-red">{{ error }}</div>{% endfor %}
    {{ form.password(class_="w3-input w3-border w3-hover-border-blue w3-margin-bottom") }}

    <p class="w3-center">
        {{ form.submit(class_="w3-btn w3-ripple w3-blue") }}
    </p>
</form>
{% endblock %}
