{% extends 'base.html' %}

{% block content %}
<form method="post">
    {{ form.hidden_tag() }}
    {{ radio_field(form.site) }}
    {{ input_field(form.location) }}
    {{ input_field(form.type) }}
    {{ input_field(form.device) }}
    {{ input_field(form.address) }}
    {{ input_field(form.description) }}

    <p class="w3-center">{{ form.submit(class_="w3-btn w3-ripple w3-blue") }}</p>
</form>

{% if id is defined %}{{ delete_link('ip.delete', _('Delete IP address')) }}{% endif %}
{% endblock %}
