{% import 'macros.html' as m with context %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.12.1-web/css/all.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='application.css') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ config.BROWSER_TAB_TITLE if config.BROWSER_TAB_TITLE else _('Support requests') }}</title>

<body class="w3-content">

    <div class="w3-bar w3-blue w3-xlarge">
        {% if current_user.is_authenticated %}
        <a class="w3-bar-item w3-hover-gray w3-button" href="javascript:open_sidebar()"><i class="fas fa-bars"></i></a>
        {% else %}
        <a class="w3-bar-item"><i class="fas fa-bars"></i></a>
        {% endif %}

        <a class="w3-bar-item w3-hover-gray w3-button w3-hide-small w3-hide-medium"
            href="{{ url_for('issue.index') }}">{{ config.TOP_BAR_TITLE_LONG if config.TOP_BAR_TITLE_LONG else _('Support requests') }}</a>
        <a class="w3-bar-item w3-hover-gray w3-button w3-hide-large"
            href="{{ url_for('issue.index') }}">{{ config.TOP_BAR_TITLE_SHORT if config.TOP_BAR_TITLE_SHORT else _('Support') }}</a>

        <a class="w3-bar-item w3-right w3-hover-gray w3-button w3-hide-small" href="{{ url_for('user.logout') }}"><i
                class="fas fa-sign-out-alt" aria-hidden="true"></i></a>

        <span class="w3-bar-item w3-right w3-hide-small w3-hide-medium">
            {% if session.get('username') %}
            {{ session.get('username') }}
            {% endif %}
        </span>
    </div>

    <div class="w3-sidebar w3-bar-block" id="sidebar">
        {{ m.sidebar_link('issue.index', _('View requests')) }}

        {% if current_user.role is defined %}

        {% if current_user.role.name == 'admin' %}
        {{ m.sidebar_link('user.index', _('View users')) }}
        {{ m.sidebar_link('ip.index', _('View IP addresses')) }}
        {% endif %}

        {% if current_user.authorized('change_password') %}
        {{ m.sidebar_link('user.password', _('Change password')) }}
        {% endif %}
        {{ m.sidebar_link('user.logout', _('Sign out (%(username)s)', username=session.get('username'))) }}

        {% endif %}
        <hr>

        <div class="w3-dropdown-click">
            <button class="w3-button" onclick="dropdown_click('issue_sort')">{{ _('Sort requests') }} <i
                    class="fas fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block" id="issue_sort">
                {{ m.option_link('issue.index', 'issue_sort', 'status', _('Sort by status (pending, processing, closed)')) }}
                {{ m.option_link('issue.index', 'issue_sort', 'date', _('Sort by update date')) }}
            </div>
        </div>

        <div class="w3-dropdown-click">
            <button class="w3-button" onclick="dropdown_click('issue_type')">{{ _('Filter requests') }} <i
                    class="fas fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block" id="issue_type">
                {{ m.option_link('issue.index', 'issue_type', 'all', _('All requests')) }}
                {{ m.option_link('issue.index', 'issue_type', 'it', _('IT support requests')) }}
                {{ m.option_link('issue.index', 'issue_type', 'facility', _('Facility management requests')) }}
                </a>
            </div>
        </div>

        <div class="w3-dropdown-click">
            <button class="w3-button" onclick="dropdown_click('selected_site')">{{ _('Select site') }} <i
                    class="fas fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block" id="selected_site">
                {{ m.option_link('issue.index', 'selected_site', 'all', _('All sites')) }}
                {{ m.option_link('issue.index', 'selected_site', 'marie_curie', 'Marie Curie') }}
                {{ m.option_link('issue.index', 'selected_site', 'molière', 'Molière') }}
                </a>
            </div>
        </div>
    </div>

    <div class="w3-overlay w3-animate-opacity" onclick="close_sidebar()" style="cursor:pointer" id="overlay"></div>

    <div class="w3-panel">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category == "error" %}
        <div class="w3-panel w3-pale-red">
            <p>{{ message }}</p>
        </div>
        {% else %}
        <div class="w3-panel w3-pale-green">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        {% endfor %}

        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='application.js') }}"></script>
</body>

</html>
