<!-- _('Please confirm') is needed as a comment for gettext extraction -->

{% macro checkbox_field(field) -%}
<p>
    {{ field.label }}
    {% for error in field.errors %}<div class="w3-text-red">{{ error }}</div>{% endfor %}
    {{ field(class_="w3-check") }}
</p>
{%- endmacro %}

{% macro delete_link(url_endpoint, link_text) -%}
<p><a class="link" href="{{ url_for(url_endpoint, id=id) }}" data-confirmation="{{ _('Please confirm') }}"
        onclick="return confirm(this.dataset.confirmation)">{{ link_text }}</a>
</p>
{%- endmacro %}

{% macro input_field(field) -%}
{{ field.label }}
{% for error in field.errors %}<div class="w3-text-red">{{ error }}</div>{% endfor %}
{{ field(class_="w3-input w3-border w3-hover-border-blue w3-margin-bottom") }}
{%- endmacro %}

{% macro issue_type_change_link(action, link_text) -%}
{% if current_user.authorized(action, issue) %}
<p><a class="link" href="{{ url_for('issue.change_type', id=id) }}" data-confirmation="{{ _('Please confirm') }}"
        onclick="return confirm(this.dataset.confirmation)">{{ link_text }}</a></p>
{% endif %}
{%- endmacro %}

{% macro option_link(url_endpoint, option_name, option_value, link_text) -%}
<a href="{{ url_for(url_endpoint, **{option_name: option_value}) }}" class="w3-bar-item w3-button">{{ link_text }}
    {% if get_arg_or_cookie(option_name) == option_value %}<i class="fas fa-check"></i>{% endif %}</a>
{%- endmacro %}

{% macro radio_field(field) -%}
<div class="w3-margin-bottom">
    {% for error in field.errors %}<div class="w3-text-red">{{ error }}</div>{% endfor %}
    {% for type in field %}
    <div>
        {{ type(class_="w3-radio") }}
        {{ type.label }}
    </div>
    {% endfor %}
</div>
{%- endmacro %}

{% macro select_field(field) -%}
{{ field.label }}
{% for error in field.errors %}<div class="w3-text-red">{{ error }}</div>{% endfor %}
{{ field(class_="w3-select w3-border w3-hover-border-blue w3-margin-bottom w3-pale-blue") }}
{%- endmacro %}

{% macro sidebar_link(url_endpoint, link_text) -%}
<a class="w3-bar-item w3-button w3-hover-blue" href="{{ url_for(url_endpoint) }}">{{ link_text }}</a>
{%- endmacro %}

{% macro submit_button() -%}
<p class="w3-center">{{ form.submit(class_="w3-btn w3-ripple w3-blue") }}</p>
{%- endmacro %}

{% macro top_link(url_endpoint, link_text) -%}
<div class="w3-margin-bottom"><a class="link" href="{{ url_for(url_endpoint) }}">{{ link_text }}</a></div>
{%- endmacro %}

{% macro top_links() -%}
<div class="w3-margin-bottom">
    {% for url_endpoint, link_text in varargs %}
    <div><a class="link" href="{{ url_for(url_endpoint) }}">{{ link_text }}</a></div>
    {% endfor %}
</div>
{%- endmacro %}
