{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ _('Edit "%(title)s"', title=form.title.data) }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {{ form.hidden_tag() }}

    {{ form.title.label }}
    {{ form.title }}
    {% for error in form.title.errors %}<div style="color: red;">{{ error }}</div>{% endfor %}

    {{ form.body.label }}
    {{ form.body }}

    {{ form.submit() }}
</form>
<hr>
<form action="{{ url_for('issue.delete', id=id) }}" method="post">
    <button class="danger" type="submit"
        onclick="return confirm('{{ _("Are you sure?") }}');">{{ _('Delete') }}</button>
    <!-- _("Are you sure?") is needed here for gettext extraction -->
</form>
{% endblock %}
